In [247]:
import pandas as pd
import torch
from torch_geometric.data import InMemoryDataset
import numpy as np

In [89]:
df = pd.read_csv(r'../dataset/Next_Generation_Simulation__NGSIM__Vehicle_Trajectories_and_Supporting_Data.csv')

In [156]:
df_us_101 = df[df["Location"] == "us-101"].drop_duplicates()

In [157]:
df_us_101 = df_us_101.sort_values(by=['Global_Time'])

In [158]:
df_us_101 = df_us_101[["Vehicle_ID", "Frame_ID", "Local_X", "Local_Y", "v_Vel", "Following", "Global_Time"]]

In [160]:
df_us_101['Following'] = df_us_101['Following'] + 1
df_us_101['Vehicle_ID'] = df_us_101['Vehicle_ID'] + 1

In [163]:
global_times = sorted(set(list(df_us_101['Global_Time'])))
time_len = len(global_times)

time1 = global_times[int(time_len/3 - 600)]
time2 = global_times[int(time_len/3 * 2 + 300)]

In [226]:
# seperate the dataset to three subsets, the dataset is generated from three videos, each video is 15 minutes
df_1 = df_us_101[df_us_101['Global_Time'] < time1]
df_2 = df_us_101[df_us_101['Global_Time'] > time1]
df_2 = df_2[df_2['Global_Time'] < time2]
df_3 = df_us_101[df_us_101['Global_Time'] > time2]

# get vehicle IDs

In [ ]:
sorted(set(list(df_us_101['Vehicle_ID'])))
print(0)

In [238]:
frames = get_frames(df_1)

In [215]:
v_list = get_vehicle_IDs(df_1)
v_list

[3,
 5,
 6,
 7,
 9,
 10,
 11,
 13,
 14,
 15,
 19,
 21,
 22,
 23,
 24,
 26,
 27,
 28,
 32,
 33,
 34,
 35,
 36,
 38,
 40,
 41,
 43,
 44,
 45,
 48,
 49,
 50,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 61,
 63,
 64,
 65,
 68,
 70,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 83,
 84,
 85,
 91,
 92,
 95,
 96,
 97,
 98,
 100,
 101,
 105,
 106,
 110,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 125,
 126,
 128,
 129,
 132,
 133,
 135,
 136,
 137,
 138,
 140,
 141,
 142,
 143,
 145,
 146,
 147,
 148,
 151,
 152,
 153,
 154,
 158,
 159,
 160,
 162,
 163,
 164,
 165,
 168,
 170,
 171,
 175,
 176,
 177,
 180,
 181,
 182,
 183,
 184,
 185,
 191,
 192,
 193,
 195,
 197,
 199,
 200,
 201,
 204,
 205,
 206,
 207,
 213,
 214,
 215,
 216,
 217,
 218,
 220,
 221,
 222,
 224,
 225,
 226,
 227,
 228,
 229,
 231,
 232,
 233,
 234,
 235,
 238,
 240,
 241,
 242,
 243,
 246,
 247,
 248,
 250,
 251,
 253,
 254,
 255,
 256,
 258,
 272,
 273,
 278,
 279,
 280,
 281,
 282,
 283,
 285,
 286,
 290,
 291,
 293,
 296,
 297,
 298,
 299,
 301,
 302,
 303,
 305,
 306,
 307,
 309,
 310,
 311,
 312,
 320,
 321,
 322,
 323,
 324,
 325,
 329,
 330,
 331,
 332,
 333,
 340,
 341,
 343,
 345,
 346,
 347,
 348,
 351,
 352,
 353,
 357,
 358,
 359,
 364,
 365,
 366,
 367,
 368,
 369,
 373,
 374,
 375,
 376,
 377,
 380,
 381,
 382,
 384,
 385,
 388,
 389,
 390,
 394,
 395,
 396,
 397,
 398,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 408,
 409,
 411,
 412,
 416,
 417,
 418,
 419,
 420,
 423,
 424,
 425,
 427,
 428,
 432,
 434,
 435,
 436,
 437,
 439,
 440,
 441,
 442,
 443,
 444,
 446,
 447,
 448,
 450,
 451,
 452,
 453,
 457,
 458,
 459,
 463,
 465,
 466,
 468,
 469,
 470,
 473,
 474,
 476,
 477,
 478,
 482,
 483,
 484,
 485,
 486,
 487,
 489,
 490,
 492,
 493,
 494,
 495,
 496,
 497,
 501,
 502,
 503,
 504,
 505,
 507,
 508,
 513,
 514,
 515,
 516,
 519,
 521,
 523,
 524,
 525,
 526,
 527,
 528,
 530,
 532,
 534,
 543,
 544,
 545,
 546,
 547,
 550,
 551,
 555,
 556,
 558,
 559,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 571,
 572,
 578,
 579,
 580,
 582,
 583,
 584,
 586,
 587,
 588,
 589,
 590,
 591,
 594,
 596,
 597,
 598,
 599,
 602,
 603,
 604,
 606,
 611,
 612,
 613,
 616,
 617,
 618,
 619,
 620,
 623,
 624,
 625,
 630,
 631,
 632,
 633,
 634,
 636,
 637,
 640,
 642,
 644,
 646,
 647,
 649,
 650,
 651,
 653,
 654,
 657,
 659,
 660,
 661,
 662,
 666,
 668,
 669,
 670,
 672,
 673,
 675,
 676,
 677,
 680,
 681,
 682,
 683,
 684,
 687,
 688,
 690,
 691,
 692,
 693,
 695,
 696,
 698,
 699,
 700,
 702,
 703,
 704,
 705,
 706,
 707,
 710,
 711,
 712,
 713,
 715,
 716,
 718,
 720,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 749,
 750,
 751,
 752,
 753,
 754,
 756,
 757,
 759,
 760,
 762,
 763,
 764,
 766,
 768,
 769,
 770,
 772,
 774,
 775,
 776,
 777,
 779,
 780,
 781,
 782,
 783,
 785,
 786,
 787,
 788,
 789,
 791,
 792,
 793,
 794,
 797,
 799,
 800,
 801,
 802,
 807,
 809,
 810,
 811,
 812,
 813,
 814,
 817,
 818,
 819,
 822,
 823,
 824,
 826,
 827,
 828,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 840,
 844,
 845,
 846,
 847,
 850,
 851,
 852,
 853,
 855,
 859,
 860,
 861,
 862,
 866,
 867,
 868,
 870,
 872,
 873,
 874,
 875,
 877,
 880,
 881,
 883,
 884,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 897,
 898,
 899,
 902,
 904,
 905,
 906,
 907,
 909,
 910,
 912,
 913,
 914,
 916,
 917,
 918,
 919,
 924,
 925,
 926,
 928,
 929,
 930,
 932,
 933,
 934,
 937,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 962,
 963,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 987,
 988,
 990,
 991,
 992,
 993,
 997,
 998,
 999,
 1001,
 1002,
 1003,
 1004,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1017,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1098,
 1099,
 1100,
 1101,
 1102,
 1103,
 1104,
 1105,
 1106,
 1107,
 1108,
 1109,
 1110,
 1111,
 1112,
 1113,
 1114,
 1115,
 1116,
 1117,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1133,
 1134,
 1135,
 1136,
 1137,
 1138,
 1139,
 1144,
 1145,
 1146,
 1147,
 1148,
 1149,
 1150,
 1151,
 1153,
 1154,
 1155,
 1156,
 1157,
 1158,
 1159,
 1160,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1181,
 1182,
 1183,
 1184,
 1186,
 1187,
 1188,
 1189,
 1190,
 1191,
 1192,
 1193,
 1195,
 1196,
 1197,
 1198,
 1199,
 1200,
 1201,
 1202,
 1203,
 1204,
 1205,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1224,
 1225,
 1226,
 1227,
 1228,
 1229,
 1230,
 1231,
 1232,
 1233,
 1234,
 1235,
 1236,
 1237,
 1238,
 1239,
 1240,
 1241,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1248,
 1249,
 1250,
 1251,
 1252,
 1253,
 1254,
 1255,
 1256,
 1257,
 1258,
 1259,
 1260,
 1261,
 1262,
 1263,
 1268,
 1270,
 1272,
 1273,
 1274,
 1275,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1283,
 1284,
 1285,
 1286,
 1287,
 1288,
 1289,
 1290,
 1291,
 1292,
 1293,
 1295,
 1297,
 1301,
 1302,
 1303,
 1305,
 1310,
 1312,
 1314,
 1315,
 1316,
 1318,
 1322,
 1324,
 1326,
 1328,
 1329,
 1333,
 1334,
 1335,
 1336,
 1337,
 1338,
 1339,
 1340,
 1343,
 1344,
 1345,
 1347,
 1348,
 1349,
 1350,
 1351,
 1352,
 1353,
 1354,
 1355,
 1359,
 1360,
 1361,
 1362,
 1363,
 1364,
 1365,
 1366,
 1367,
 1368,
 1369,
 1370,
 1371,
 1372,
 1373,
 1374,
 1387,
 1388,
 1389,
 1390,
 1391,
 1392,
 1393,
 1394,
 1395,
 1396,
 1397,
 1398,
 1399,
 1400,
 1401,
 1402,
 1404,
 1405,
 1406,
 1407,
 1408,
 1409,
 1410,
 1413,
 1416,
 1417,
 1418,
 1420,
 1421,
 1424,
 1425,
 1426,
 1428,
 1429,
 1430,
 1431,
 1432,
 1433,
 1436,
 1437,
 1439,
 1441,
 1442,
 1443,
 ...]

In [239]:
V = 11
frames_list = sorted(set(list(df_1[df_1['Vehicle_ID'] == V]['Frame_ID'])))

In [240]:
frame_ID = frames_list[0:30]
ID = frame_ID[10]
frames[ID]

,Vehicle_ID,Frame_ID,Local_X,Local_Y,v_Vel,Following,Global_Time
8293612,15,49,49.163,116.893,40.00,19,1118846983800
2286149,14,49,16.328,132.082,34.63,23,1118846983800
4823539,3,49,15.226,172.044,39.18,14,1118846983800
7041614,23,49,14.907,71.945,30.00,1,1118846983800
8486301,19,49,51.134,49.644,35.00,1,1118846983800
4918918,11,49,4.099,76.932,39.93,1,1118846983800
4812760,10,49,27.335,58.493,39.98,1,1118846983800
1082265,9,49,37.025,127.856,44.94,1,1118846983800
8312950,6,49,38.824,192.985,36.09,9,1118846983800

In [267]:
frame = frames[ID].copy()
frame_y = []
y = frame[frame['Vehicle_ID'] == V][['Local_X', 'Local_Y', 'v_Vel']].values
frame_y.append(y.tolist()[0])
print(frame_y)

frame['Vehicle_ID'] = frame['Vehicle_ID'].replace(V, 1)
frame['Following'] = frame['Following'].replace(1, 0)
frame['Following'] = frame['Following'].replace(V, 1)
frame = frame.sort_values(by=["Vehicle_ID"])
frame['v_index'] = range(len(frame.index))

frame_edge = frame[frame['Following'] != 0]
edge_from = list(frame_edge['v_index'])
edge_to_origin = list(frame_edge['Following'])
edge_to = []
vehicles_id = list(frame['Vehicle_ID'])
for to_origin in edge_to_origin:
    new_v_index = vehicles_id.index(to_origin)
    edge_to.append(new_v_index)
frame_x = torch.tensor(frame[['Local_X', 'Local_Y', 'v_Vel']].values)
frame_edge = torch.tensor([edge_from, edge_to], dtype=torch.long)
y = []
data = Data(x=frame_x, y=y, edge_index=frame_edge)

[[4.099, 76.932, 39.93]]

In [225]:
frame = frames[ID]
frame_y = frame[frame['Vehicle_ID'] == V][['Local_X', 'Local_Y', 'v_Vel']].values
print(frame_y)

[]

In [188]:
frame[['Local_X', 'Local_Y', 'v_Vel']]

         Local_X  Local_Y  v_Vel
479094    27.422   41.492  39.98
3823419   16.376  156.449  38.76
3275924   40.072  178.551  35.80
4274370   36.807  109.841  45.00
8276503    4.182   60.953  40.28
8561326   16.158  118.065  35.00
5105977   48.968  100.845  39.54
8533566   14.968   59.947  29.97

In [185]:
print(edge_from)
print(edge_to)

[1, 2, 5]
[5, 3, 7]

In [268]:
# get vehicle IDs
def get_vehicle_IDs(df):
    vehicles = sorted(set(list(df["Vehicle_ID"])))
    return vehicles

# get frame list, frame = frame_list[frame_index_in_df]
def get_frames(df):
    frames = sorted(set(list(df["Frame_ID"])))
    frames_list = [0] * (frames[-1]+1)
    for frame_index in frames:
        frame = df[df["Frame_ID"] == frame_index]
        frames_list[frame_index] = frame
    return frames_list

def get_x_y(frames, frame_list, V):
    x_list = []
    frame_y = []
    for f in frames[0:20]:
        frame = frame_list[f].copy()
        frame['Vehicle_ID'] = frame['Vehicle_ID'].replace(V, 1)
        frame['Following'] = frame['Following'].replace(1, 0)
        frame['Following'] = frame['Following'].replace(V, 1)
        frame = frame.sort_values(by=["Vehicle_ID"])
        frame['v_index'] = range(len(frame.index))

        frame_edge = frame[frame['Following'] != 0]
        edge_from = list(frame_edge['v_index'])
        edge_to_origin = list(frame_edge['Following'])
        edge_to = []
        vehicles_id = list(frame['Vehicle_ID'])
        for to_origin in edge_to_origin:
            new_v_index = vehicles_id.index(to_origin)
            edge_to.append(new_v_index)
        frame_x = torch.tensor(frame[['Local_X', 'Local_Y', 'v_Vel']].values)
        frame_edge = torch.tensor([edge_from, edge_to], dtype=torch.long)
        y = []
        data = Data(x=frame_x, y=y, edge_index=frame_edge)
        x_list.append(data)
    for f in frames[20:]:
        frame = frame_list[f]
        y = frame[frame['Vehicle_ID'] == V][['Local_X', 'Local_Y', 'v_Vel']].values
        frame_y.append(y.tolist()[0])
    y_list = torch.FloatTensor(frame_y)
    return x_list, y_list

In [325]:
def prepare_dataset(df):
    data_x_list = []
    data_y_list = []
    # get vehicle IDs
    V_IDs = get_vehicle_IDs(df)
    print(V_IDs[-1])
    # get frame list:
    frame_list = get_frames(df)
    
    for V in V_IDs:
        print(V)
        frames = sorted(set(list(df[df['Vehicle_ID'] == V]['Frame_ID'])))
        frames_len = len(frames)
        if frames_len < 90:
            continue
        else:
            f_1 = frames[0:30]
            f_2 = frames[int(frames_len/3): int(frames_len/3) + 30]
            f_3 = frames[int(frames_len/3) * 2: int(frames_len/3) * 2 + 30]
            data_x, data_y = get_x_y(f_1, frame_list, V)
#             data_list.append([data_x, data_y])
            data_x_list.append(data_x)
            data_y_list.append(data_y)    
        
            data_x, data_y = get_x_y(f_2, frame_list, V)
#             data_list.append([data_x, data_y])
            data_x_list.append(data_x)
            data_y_list.append(data_y) 
        
            data_x, data_y = get_x_y(f_3, frame_list, V)
            data_x_list.append(data_x)
            data_y_list.append(data_y)
            
            
    return [data_x_list, data_y_list]

In [326]:
dataset = prepare_dataset(df_1)

3110
3
5
6
7
9
10
11
13
14
15
19
21
22
23
24
26
27
28
32
33
34
35
36
38
40
41
43
44
45
48
49
50
52
54
55
56
57
58
60
61
63
64
65
68
70
72
73
74
75
76
77
78
79
80
83
84
85
91
92
95
96
97
98
100
101
105
106
110
115
116
117
118
119
120
121
122
123
125
126
128
129
132
133
135
136
137
138
140
141
142
143
145
146
147
148
151
152
153
154
158
159
160
162
163
164
165
168
170
171
175
176
177
180
181
182
183
184
185
191
192
193
195
197
199
200
201
204
205
206
207
213
214
215
216
217
218
220
221
222
224
225
226
227
228
229
231
232
233
234
235
238
240
241
242
243
246
247
248
250
251
253
254
255
256
258
272
273
278
279
280
281
282
283
285
286
290
291
293
296
297
298
299
301
302
303
305
306
307
309
310
311
312
320
321
322
323
324
325
329
330
331
332
333
340
341
343
345
346
347
348
351
352
353
357
358
359
364
365
366
367
368
369
373
374
375
376
377
380
381
382
384
385
388
389
390
394
395
396
397
398
400
401
402
403
404
405
406
408
409
411
412
416
417
418
419
420
423
424
425
427
428
432
434
435
436
437
439
440
441
442
443
444
446
447
448
450
451
452
453
457
458
459
463
465
466
468
469
470
473
474
476
477
478
482
483
484
485
486
487
489
490
492
493
494
495
496
497
501
502
503
504
505
507
508
513
514
515
516
519
521
523
524
525
526
527
528
530
532
534
543
544
545
546
547
550
551
555
556
558
559
561
562
563
564
565
566
567
568
571
572
578
579
580
582
583
584
586
587
588
589
590
591
594
596
597
598
599
602
603
604
606
611
612
613
616
617
618
619
620
623
624
625
630
631
632
633
634
636
637
640
642
644
646
647
649
650
651
653
654
657
659
660
661
662
666
668
669
670
672
673
675
676
677
680
681
682
683
684
687
688
690
691
692
693
695
696
698
699
700
702
703
704
705
706
707
710
711
712
713
715
716
718
720
725
726
727
728
729
730
731
733
734
735
736
737
738
739
740
741
742
743
749
750
751
752
753
754
756
757
759
760
762
763
764
766
768
769
770
772
774
775
776
777
779
780
781
782
783
785
786
787
788
789
791
792
793
794
797
799
800
801
802
807
809
810
811
812
813
814
817
818
819
822
823
824
826
827
828
832
833
834
835
836
837
838
840
844
845
846
847
850
851
852
853
855
859
860
861
862
866
867
868
870
872
873
874
875
877
880
881
883
884
886
887
888
889
890
891
892
893
897
898
899
902
904
905
906
907
909
910
912
913
914
916
917
918
919
924
925
926
928
929
930
932
933
934
937
943
944
945
946
947
948
949
950
951
953
954
955
956
957
958
959
960
962
963
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
987
988
990
991
992
993
997
998
999
1001
1002
1003
1004
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1017
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1144
1145
1146
1147
1148
1149
1150
1151
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1186
1187
1188
1189
1190
1191
1192
1193
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1268
1270
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1295
1297
1301
1302
1303
1305
1310
1312
1314
1315
1316
1318
1322
1324
1326
1328
1329
1333
1334
1335
1336
1337
1338
1339
1340
1343
1344
1345
1347
1348
1349
1350
1351
1352
1353
1354
1355
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1404
1405
1406
1407
1408
1409
1410
1413
1416
1417
1418
1420
1421
1424
1425
1426
1428
1429
1430
1431
1432
1433
1436
1437
1439
1441
1442
1443
1444
1445
1446
1447
1448
1454
1455
1456
1457
1460
1461
1462
1463
1468
1469
1470
1471
1472
1474
1476
1477
1478
1479
1480
1482
1485
1487
1488
1490
1491
1494
1498
1500
1504
1505
1506
1507
1508
1510
1511
1513
1514
1515
1516
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1544
1546
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1565
1566
1567
1569
1570
1571
1572
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1616
1617
1618
1619
1621
1622
1623
1624
1625
1626
1627
1628
1629
1631
1632
1635
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1794
1795
1796
1797
1798
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1861
1862
1863
1866
1867
1868
1869
1870
1871
1872
1873
1875
1876
1877
1878
1879
1880
1882
1883
1886
1888
1889
1890
1891
1898
1899
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1920
1921
1922
1923
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1938
1940
1943
1944
1945
1946
1948
1949
1950
1952
1954
1956
1957
1959
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1988
1989
1990
1992
1993
1996
1997
1999
2000
2001
2002
2004
2007
2008
2009
2011
2016
2017
2018
2020
2032
2033
2034
2035
2036
2037
2038
2040
2042
2043
2044
2045
2046
2047
2049
2051
2053
2054
2055
2056
2057
2058
2060
2061
2062
2066
2068
2069
2070
2072
2073
2074
2075
2080
2081
2083
2085
2086
2087
2089
2090
2091
2093
2094
2097
2099
2100
2103
2104
2105
2106
2107
2108
2109
2112
2113
2116
2117
2118
2119
2120
2123
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2143
2145
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2225
2227
2229
2230
2231
2233
2234
2236
2238
2239
2240
2241
2242
2244
2245
2247
2248
2249
2250
2251
2252
2256
2257
2259
2260
2261
2262
2263
2264
2265
2266
2268
2269
2271
2272
2273
2274
2276
2277
2278
2280
2281
2283
2286
2287
2288
2289
2291
2292
2295
2296
2298
2299
2302
2303
2305
2306
2307
2310
2311
2312
2315
2316
2317
2320
2321
2323
2324
2325
2326
2327
2328
2329
2330
2332
2333
2334
2335
2337
2338
2340
2342
2343
2345
2346
2349
2350
2351
2352
2354
2355
2356
2357
2359
2361
2362
2363
2364
2365
2366
2368
2369
2370
2372
2373
2374
2375
2377
2379
2380
2382
2384
2385
2386
2387
2389
2390
2391
2392
2393
2394
2395
2396
2398
2399
2400
2402
2403
2406
2407
2408
2409
2412
2415
2417
2418
2419
2420
2421
2424
2428
2432
2433
2434
2440
2442
2443
2444
2445
2447
2448
2451
2459
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2477
2479
2480
2481
2483
2484
2486

2487
2488
2491
2492
2493
2494
2495
2497
2498
2499
2501
2502
2503
2504
2505
2506
2509
2510
2511
2516
2517
2518
2520
2521
2523
2524
2525
2526
2529
2530
2531
2532
2533
2534
2537
2538
2539
2541
2543
2544
2545
2549
2550
2551
2553
2555
2556
2557
2558
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2576
2577
2578
2579
2580
2582
2583
2584
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2603
2604
2605
2606
2609
2610
2611
2613
2614
2616
2617
2618
2619
2620
2621
2622
2624
2625
2626
2629
2630
2631
2632
2634
2635
2636
2638
2640
2641
2642
2644
2645
2646
2647
2649
2650
2651
2654
2655
2657
2658
2659
2660
2661
2664
2665
2666
2669
2670
2671
2672
2673
2674
2675
2676
2679
2680
2681
2682
2683
2687
2688
2689
2690
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2704
2705
2706
2707
2708
2710
2711
2712
2714
2715
2716
2717
2718
2719
2720
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2735
2736
2737
2738
2741
2742
2743
2744
2746
2749
2750
2751
2753
2754
2755
2756
2758
2759
2760
2762
2763
2764
2765
2767
2769
2776
2779
2780
2781
2784
2786
2793
2794
2795
2796
2801
2803
2805
2806
2809
2810
2812
2813
2815
2818
2820
2821
2822
2823
2824
2826
2827
2828
2829
2830
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2849
2850
2851
2852
2854
2855
2856
2857
2859
2860
2861
2862
2863
2864
2865
2866
2869
2870
2871
2872
2873
2874
2875
2876
2877
2878
2879
2880
2881
2882
2887
2892
2893
2895
2896
2897
2899
2900
2901
2902
2904
2907
2908
2911
2912
2913
2914
2916
2917
2919
2922
2923
2924
2925
2926
2927
2929
2931
2932
2933
2939
2940
2941
2942
2943
2944
2946
2947
2949
2951
2954
2955
2957
2959
2960
2962
2963
2965
2968
2970
2972
2973
2974
2975
2978
2979
2980
2983
2984
2985
2989
2992
2993
2994
2997
3008
3012
3102
3103
3104
3105
3106
3107
3108
3109
3110

In [62]:
frames = sorted(set(list(df_3["Frame_ID"])))

In [63]:
len(frames)

8574

In [ ]:
V = 2, frames

In [56]:
df_3[df_3['Vehicle_ID'] == 1000].sort_values(by=['Frame_ID'])

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_length,v_Width,...,D_Zone,Int_ID,Section_ID,Direction,Movement,Preceding,Following,Space_Headway,Time_Headway,Location
196096,1000,4602,936,1118849217200,4.184,69.166,6451146.121,1873353.901,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,994,0,36.55,3.26,us-101
7351338,1000,4603,936,1118849217300,4.179,70.166,6451146.793,1873353.161,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,994,0,36.55,3.26,us-101
1883672,1000,4604,936,1118849217400,4.174,71.167,6451147.466,1873352.420,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,994,0,36.56,3.26,us-101
7464919,1000,4605,936,1118849217500,4.168,72.166,6451148.138,1873351.680,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,994,0,36.57,3.26,us-101
6877370,1000,4606,936,1118849217600,4.163,73.166,6451148.810,1873350.940,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,994,0,36.58,3.26,us-101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4805862,1000,5533,936,1118849310300,8.684,2146.667,6452690.192,1871964.429,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,1005,0.00,0.00,us-101
4435588,1000,5534,936,1118849310400,8.682,2150.498,6452693.189,1871962.043,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,1005,0.00,0.00,us-101
2005627,1000,5535,936,1118849310500,8.679,2154.352,6452696.201,1871959.646,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,1005,0.00,0.00,us-101
3683384,1000,5536,936,1118849310600,8.676,2158.352,6452699.331,1871957.155,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,1005,0.00,0.00,us-101
6029912,1000,5537,936,1118849310700,8.672,2162.352,6452702.461,1871954.665,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,1005,0.00,0.00,us-101

In [45]:
df_us_101[df_us_101['Vehicle_ID'] == 1].sort_values(by=['Frame_ID'])

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_length,v_Width,...,D_Zone,Int_ID,Section_ID,Direction,Movement,Preceding,Following,Space_Headway,Time_Headway,Location
2555981,1,137,421,1118848770700,52.660,73.916,6451113.236,1873317.970,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,us-101
7952522,1,138,421,1118848770800,52.648,76.416,6451114.916,1873316.119,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,us-101
7911821,1,139,421,1118848770900,52.635,78.915,6451116.596,1873314.268,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,us-101
7890998,1,140,421,1118848771000,52.622,81.416,6451118.277,1873312.417,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,us-101
7289640,1,141,421,1118848771100,52.609,83.916,6451119.957,1873310.566,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,us-101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4787305,1,834,569,1118847925400,56.965,2143.216,6452653.129,1871932.226,47.0,8.5,...,NaN,NaN,NaN,NaN,NaN,0,16,0.0,0.0,us-101
3147654,1,835,569,1118847925500,56.946,2149.061,6452657.733,1871928.584,47.0,8.5,...,NaN,NaN,NaN,NaN,NaN,0,16,0.0,0.0,us-101
6083260,1,836,569,1118847925600,56.942,2154.789,6452662.154,1871925.065,47.0,8.5,...,NaN,NaN,NaN,NaN,NaN,0,16,0.0,0.0,us-101
4265363,1,837,569,1118847925700,56.937,2160.789,6452666.849,1871921.329,47.0,8.5,...,NaN,NaN,NaN,NaN,NaN,0,16,0.0,0.0,us-101
8483966,1,838,569,1118847925800,56.932,2166.789,6452671.544,1871917.593,47.0,8.5,...,NaN,NaN,NaN,NaN,NaN,0,16,0.0,0.0,us-101

In [16]:
times = list(df_us_101["Global_Time"])
vehicles = list(df_us_101["Vehicle_ID"])

In [39]:
df_len = len(df_us_101.index)
df_len

4098933

In [17]:
times = set(times)
vehicles = set(vehicles)

In [18]:
times = sorted(times)
vehicles = sorted(vehicles)

In [19]:
len(times)

27726

In [20]:
len(vehicles)

2847

In [24]:
v = df_us_101[df_us_101["Vehicle_ID"] == vehicles[0]].sort_values(by=['Frame_ID'])

In [25]:
v

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_length,v_Width,...,D_Zone,Int_ID,Section_ID,Direction,Movement,Preceding,Following,Space_Headway,Time_Headway,Location
2555981,1,137,421,1118848770700,52.660,73.916,6451113.236,1873317.970,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,us-101
7952522,1,138,421,1118848770800,52.648,76.416,6451114.916,1873316.119,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,us-101
7911821,1,139,421,1118848770900,52.635,78.915,6451116.596,1873314.268,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,us-101
7890998,1,140,421,1118848771000,52.622,81.416,6451118.277,1873312.417,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,us-101
7289640,1,141,421,1118848771100,52.609,83.916,6451119.957,1873310.566,15.0,6.4,...,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,us-101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4787305,1,834,569,1118847925400,56.965,2143.216,6452653.129,1871932.226,47.0,8.5,...,NaN,NaN,NaN,NaN,NaN,0,16,0.0,0.0,us-101
3147654,1,835,569,1118847925500,56.946,2149.061,6452657.733,1871928.584,47.0,8.5,...,NaN,NaN,NaN,NaN,NaN,0,16,0.0,0.0,us-101
6083260,1,836,569,1118847925600,56.942,2154.789,6452662.154,1871925.065,47.0,8.5,...,NaN,NaN,NaN,NaN,NaN,0,16,0.0,0.0,us-101
4265363,1,837,569,1118847925700,56.937,2160.789,6452666.849,1871921.329,47.0,8.5,...,NaN,NaN,NaN,NaN,NaN,0,16,0.0,0.0,us-101
8483966,1,838,569,1118847925800,56.932,2166.789,6452671.544,1871917.593,47.0,8.5,...,NaN,NaN,NaN,NaN,NaN,0,16,0.0,0.0,us-101

In [9]:
dataset_1 = df_us_101
frame_list = [0] * 30000
for i in times:
    vehicles_df1 = df_us_101[df_us_101["Global_Time"] == i]
    frame_list_1.append(vehicles_df)
    
    frame_list_2
    frame_list_3

In [10]:
len(frame_list)

27726

In [11]:
len(list(frame_list[1090]['Vehicle_ID']))

121

In [12]:
len(set(frame_list[1090]['Vehicle_ID']))

121

In [22]:
import os
import pandas as pd
import numpy as np
import torch
from torch.utils.data import Dataset, DataLoader

In [23]:
import warnings
warnings.filterwarnings("ignore")

In [365]:
from torch.utils.data import Dataset
class NGSIMDataset(Dataset):
    
    def __init__(self, data_list, transform=None):
        self.data = data_list
        self.transform = transform
        self.x_list = data_list[0]
        self.y_list = data_list[1]
        
    def __len__(self):
        return len(self.data[0])
    
    def __getitem__(self, idx):
        if torch.is_tensor(idx):
            idx = idx.tolist()
        x = self.x_list[idx]
        y = self.y_list[idx]
        
        return x, y
        
#         sample = {'graphs': x, 'y': y}
        
#         if self.transform:
#             sample = self.transform(sample)
        
#         return sample

In [366]:
dataset_a = NGSIMDataset(dataset)

In [367]:
dataset[0][0]

[Data(x=[3, 3], edge_index=[2, 0], y=[0]),
 Data(x=[3, 3], edge_index=[2, 0], y=[0]),
 Data(x=[3, 3], edge_index=[2, 0], y=[0]),
 Data(x=[3, 3], edge_index=[2, 0], y=[0]),
 Data(x=[3, 3], edge_index=[2, 0], y=[0]),
 Data(x=[3, 3], edge_index=[2, 0], y=[0]),
 Data(x=[2, 3], edge_index=[2, 0], y=[0]),
 Data(x=[2, 3], edge_index=[2, 0], y=[0]),
 Data(x=[2, 3], edge_index=[2, 0], y=[0]),
 Data(x=[3, 3], edge_index=[2, 1], y=[0]),
 Data(x=[3, 3], edge_index=[2, 1], y=[0]),
 Data(x=[3, 3], edge_index=[2, 1], y=[0]),
 Data(x=[3, 3], edge_index=[2, 1], y=[0]),
 Data(x=[3, 3], edge_index=[2, 1], y=[0]),
 Data(x=[3, 3], edge_index=[2, 1], y=[0]),
 Data(x=[3, 3], edge_index=[2, 1], y=[0]),
 Data(x=[4, 3], edge_index=[2, 2], y=[0]),
 Data(x=[4, 3], edge_index=[2, 2], y=[0]),
 Data(x=[4, 3], edge_index=[2, 2], y=[0]),
 Data(x=[5, 3], edge_index=[2, 2], y=[0])]

In [476]:
from torch_geometric.data import DataLoader

train_dataloader = DataLoader(dataset_a, batch_size=64)

In [477]:
x1, train_labels = next(iter(train_dataloader))
x1

[DataBatch(x=[3404, 3], edge_index=[2, 3025], y=[64], batch=[3404], ptr=[65]),
 DataBatch(x=[3419, 3], edge_index=[2, 3041], y=[64], batch=[3419], ptr=[65]),
 DataBatch(x=[3430, 3], edge_index=[2, 3052], y=[64], batch=[3430], ptr=[65]),
 DataBatch(x=[3439, 3], edge_index=[2, 3059], y=[64], batch=[3439], ptr=[65]),
 DataBatch(x=[3450, 3], edge_index=[2, 3070], y=[64], batch=[3450], ptr=[65]),
 DataBatch(x=[3471, 3], edge_index=[2, 3090], y=[64], batch=[3471], ptr=[65]),
 DataBatch(x=[3485, 3], edge_index=[2, 3103], y=[64], batch=[3485], ptr=[65]),
 DataBatch(x=[3504, 3], edge_index=[2, 3121], y=[64], batch=[3504], ptr=[65]),
 DataBatch(x=[3521, 3], edge_index=[2, 3138], y=[64], batch=[3521], ptr=[65]),
 DataBatch(x=[3539, 3], edge_index=[2, 3154], y=[64], batch=[3539], ptr=[65]),
 DataBatch(x=[3550, 3], edge_index=[2, 3165], y=[64], batch=[3550], ptr=[65]),
 DataBatch(x=[3568, 3], edge_index=[2, 3182], y=[64], batch=[3568], ptr=[65]),
 DataBatch(x=[3582, 3], edge_index=[2, 3193], y=[64], batch=[3582], ptr=[65]),
 DataBatch(x=[3608, 3], edge_index=[2, 3216], y=[64], batch=[3608], ptr=[65]),
 DataBatch(x=[3620, 3], edge_index=[2, 3230], y=[64], batch=[3620], ptr=[65]),
 DataBatch(x=[3637, 3], edge_index=[2, 3246], y=[64], batch=[3637], ptr=[65]),
 DataBatch(x=[3650, 3], edge_index=[2, 3258], y=[64], batch=[3650], ptr=[65]),
 DataBatch(x=[3665, 3], edge_index=[2, 3270], y=[64], batch=[3665], ptr=[65]),
 DataBatch(x=[3680, 3], edge_index=[2, 3284], y=[64], batch=[3680], ptr=[65]),
 DataBatch(x=[3696, 3], edge_index=[2, 3298], y=[64], batch=[3696], ptr=[65])]

In [478]:
x1, train_labels = next(iter(train_dataloader))
x1

[DataBatch(x=[3404, 3], edge_index=[2, 3025], y=[64], batch=[3404], ptr=[65]),
 DataBatch(x=[3419, 3], edge_index=[2, 3041], y=[64], batch=[3419], ptr=[65]),
 DataBatch(x=[3430, 3], edge_index=[2, 3052], y=[64], batch=[3430], ptr=[65]),
 DataBatch(x=[3439, 3], edge_index=[2, 3059], y=[64], batch=[3439], ptr=[65]),
 DataBatch(x=[3450, 3], edge_index=[2, 3070], y=[64], batch=[3450], ptr=[65]),
 DataBatch(x=[3471, 3], edge_index=[2, 3090], y=[64], batch=[3471], ptr=[65]),
 DataBatch(x=[3485, 3], edge_index=[2, 3103], y=[64], batch=[3485], ptr=[65]),
 DataBatch(x=[3504, 3], edge_index=[2, 3121], y=[64], batch=[3504], ptr=[65]),
 DataBatch(x=[3521, 3], edge_index=[2, 3138], y=[64], batch=[3521], ptr=[65]),
 DataBatch(x=[3539, 3], edge_index=[2, 3154], y=[64], batch=[3539], ptr=[65]),
 DataBatch(x=[3550, 3], edge_index=[2, 3165], y=[64], batch=[3550], ptr=[65]),
 DataBatch(x=[3568, 3], edge_index=[2, 3182], y=[64], batch=[3568], ptr=[65]),
 DataBatch(x=[3582, 3], edge_index=[2, 3193], y=[64], batch=[3582], ptr=[65]),
 DataBatch(x=[3608, 3], edge_index=[2, 3216], y=[64], batch=[3608], ptr=[65]),
 DataBatch(x=[3620, 3], edge_index=[2, 3230], y=[64], batch=[3620], ptr=[65]),
 DataBatch(x=[3637, 3], edge_index=[2, 3246], y=[64], batch=[3637], ptr=[65]),
 DataBatch(x=[3650, 3], edge_index=[2, 3258], y=[64], batch=[3650], ptr=[65]),
 DataBatch(x=[3665, 3], edge_index=[2, 3270], y=[64], batch=[3665], ptr=[65]),
 DataBatch(x=[3680, 3], edge_index=[2, 3284], y=[64], batch=[3680], ptr=[65]),
 DataBatch(x=[3696, 3], edge_index=[2, 3298], y=[64], batch=[3696], ptr=[65])]

In [487]:
x2[0][63]

Data(x=[19, 3], edge_index=[2, 14], y=[0])

In [473]:
train_labels.shape

torch.Size([1, 10, 3])

In [475]:
train_labels[0]

tensor([[ 16.4350, 113.6280,  35.5000],
        [ 16.4780, 117.1180,  35.0800],
        [ 16.5200, 120.6000,  34.9600],
        [ 16.5620, 124.0960,  34.9800],
        [ 16.6050, 127.5970,  35.0000],
        [ 16.6470, 131.0990,  34.9900],
        [ 16.6910, 134.5950,  34.9800],
        [ 16.7270, 138.0810,  35.1000],
        [ 16.7960, 141.5780,  35.4900],
        [ 16.7950, 145.1310,  36.2000]])